@model IEnumerable<UrlModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-8 offset-md-2">

    <table class="table table-striped">
        @if (Model.Count() == 0)
        {
            <thead class="thead-ligh">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model=>model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.ShortedUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Description)
                    </th>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <th>
                            <a asp-controller="UrlShorter" asp-action="Index" asp-route-path="">
                                ClickMe
                            </a>
                        </th>
                    }
                </tr>
            </thead>
        }
        else
        {
            <thead class="thead-ligh">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model=>model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.ShortedUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Created)
                    </th>
                    <th>
                        <a asp-controller="UrlShorter" asp-action="Index" asp-route-path="" class="btn btn-primary">
                            Shorten Url
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <a href="@item.ShortedUrl">@Html.DisplayFor(modelItem => item.ShortedUrl)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            <div>
                                <a onclick="showInPopup('@Url.Action("Edit","Home",new {id=item.Id},Context.Request.Scheme)','Update Url')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <input type="hidden" asp-for="@item.Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>